body {
  font-family: Roboto, sans-serif;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

md-elevated-card {
  width: 250px;
  padding: 16px;
}

.user-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.review-count {
  color: gray;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  color: var(--md-sys-color-on-surface);
}

.card {
  width: 192px;
}

img {
  border-radius: inherit;
  background: #dadce0;
  object-fit: contain;
  height: 128px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 16px;
  gap: 16px;
}